body {
  background-color: #ebedf0;
}

.space {
  display: grid;
  justify-content: end;
}

.sign_detail {
  font-size: smaller;
  text-align: center;
  color: gray;
}

.signinButton {
  height: 70%;
  width: 100%;
  background-color: #0077c5;
  color: white;
  border-width: 1px;
  border-color: darkgray;
  border-radius: 4px;
}

.lock {
  margin-right: 5px;
}
.anchor {
  text-decoration: none;
  color: cornflowerblue;
}

.signup {
  width: 100%;
  display: grid;
  height: 6vh;
  grid-template-columns: 92% 6%;
  column-gap: 1%;
}

.maintitle {
  height: 6vh;
  margin-top: 2%;
  text-align: center;
}

.icons {
  display: flex;
  margin-top: 2%;
  height: 4vh;
  justify-content: center;
}

.images {
  margin-left: 5px;
  width: 2%;
  height: 100%;
}

.descriptions {
  margin: 2px;
  display: flex;
  align-items: center;
  color: gray;
  font-size: x-large;
  margin-right: 4px;
}
.div-section {
  height: fit-content;
  display: flex;
  justify-content: center;
  width: 100%;
}
.form-section {
  width: 23%;
  margin: 1% 0 0 0;
  text-align: center;
  padding: 30px;
  background-color: #ffffff;
  border: solid 1px lightgrey;
  height: fit-content;
  border-bottom: hidden;
}
#titleinfo {
  font-size: xx-large;
}
.learnmore {
  margin-top: 4%;
  font-weight: lighter;
  color: gray;
}
#more {
  text-decoration: none;
}
.information {
  display: flex;
  justify-content: flex-start;
  margin-top: 8%;
  font-size: larger;
  /* font-weight: lighter; */
}

.input {
  width: 100%;
  height: 100%;
  margin-top: 3%;
}
.smalltext {
  display: flex;
  justify-content: left;
  margin-top: 11px;
  color: gray;
}
.key {
  position: relative;
  left: 47%;
  bottom: 28px;
}

.submit_btn {
  margin-top: 29px;
  width: 100%;
  background-color: #0c7ac9;
  color: white;
  padding: 6 12;
  border: thin;
  border-radius: 4px;
  height: 44px;
}

.italic_font {
  margin-top: 50px;
  font-style: italic;
  color: gray;
  padding: 3%;
}

a {
  text-decoration: none;
  margin-left: 2px;
  margin-right: 2px;
}

.inp_height {
  height: 30px;
}

.end_lines {
  background-color: #eceef1;
  width: 100%;
  border: solid 1px lightgrey;
  color: gray;
  font-size: small;
  /* height: 100%; */
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top: hidden; */
  padding: 16 30px;
  margin: 0 -32 -32 -32;
}

.end_container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 8vh;
}

.foter {
  margin: auto;
  width: 70%;
  height: fit-content;
}

.foter1st_content {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 6px;
}

.foter2nd_content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #4e4e4e;
}

.footer_color a {
  color: #4e4e4e;
}
